* {
  background-color: lightblue;
  font-family: Arial;
  margin-left: 90px
  margin-right: 90px;
  padding: 0;
}

/* align footer bottom */
	html,
	body {
	  height: 100%;
	}

	#wrap {
	  min-height: 100%;
	}

	#main {
	  overflow: auto;
	  padding-bottom: 180px;
	  /* must be same height as the footer */
	}

	#footer {
	  position: relative;
	  margin-top: -180px;
	  /* negative value of footer height */
	  height: 180px;
	  clear: both;
	  background-color: red;
	}

/* link styles */
	/* underline */
	a {
	  text-decoration: none;
	}

	/* unvisited link */
	a:link {
	  color: red;
	}

	/* visited link */
	a:visited {
	  color: green;
	}

	/* mouse over link */
	a:hover {
	  color: hotpink;
	}

	/* selected link */
	a:active {
	  color: blue;
	}