* {
  background-color: lightblue;
  font-family: ariel;
}

/* link */
a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}